.Test {
    flex-grow: 1;
    background-color: rgb(9, 140, 61);
    border-left-color: rgb(1, 43, 7);
    border-right-color: rgb(1, 43, 7);
    border-top-color: rgb(1, 43, 7);
    border-bottom-color: rgb(1, 43, 7);
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.item {
    -unity-background-image-tint-color: rgb(36, 168, 233);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(0, 144, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(0, 94, 144);
    border-right-color: rgb(0, 94, 144);
    border-top-color: rgb(0, 94, 144);
    border-bottom-color: rgb(0, 94, 144);
    align-self: stretch;
    align-items: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    visibility: visible;
    overflow: visible;
    justify-content: center;
    left: auto;
}

.label {
    -unity-font: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=79373660f7b761b43a6c40bfdaac109e&type=3#NotInter-Regular");
    color: rgb(255, 255, 255);
    font-size: 20px;
}
